<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>HomePage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h1>
        <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
      </h1>


      <ion-card *ngIf="itemFound" >
        <ion-card-header>
          <h2>Price: $ {{selectedItem.price}}</h2>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li>{{selectedItem.plu}}</li>
            <li>{{selectedItem.name}}</li>
            <li>{{selectedItem.price}}</li>
          </ul>
          <button ion-button block (click)="itemShowPage()">
            See Member
        </button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="barcode" push-detail>
          <ion-card-header>
            <h2>No Product with barcode: {{ barcode }}was found</h2>
          </ion-card-header>
          <ion-card-content>
            <span color='primary'> To Create a member with this barcode; Click below.</span>
            <button ion-button block  (click)="itemAddPage()">
              Create New Member
            </button>
          </ion-card-content>
        </ion-card>
</ion-content>
